.container{
    border: 1px solid #ccc;
    margin-right: 50%;
    padding: 0px 10px;
}
.header{
    background-color: blue;
    color: yellow;
    padding: 20px;
}
.span-1{
    color: blue;
}
img{
    width: 200px;
    height: 110px;
}
h3{
    color: green;
}
iframe{
    width: 300px;
    height: 200px;
}