p:nth-child(odd){
    padding: 15px;
}

p:nth-child(even){
    padding: 0px 15px;
}
.odd-1{
    background-color: rgb(70, 191, 239);
    color: #fff;
}
#odd-2{
    background-color: rgb(220, 91, 151);
    color: #fff;
}
.odd-3{
    background-color: orange;
    color: #fff;
}