@tailwind base;
@tailwind components;
@tailwind utilities;


/* Example for custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
    display: none;
}

::-webkit-scrollbar-thumb {
    background: #888; /* Scrollbar color */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Scrollbar hover color */
}
