/*----------- Projects -------------*/

.box-4 {
  margin-bottom: 100px;
}
.projects-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  width: 85%;
  margin: 0 auto;
}

.projects-items {
  width: fit-content;
  gap: 20px;
}
.projects-box {
  position: relative;
  width: 100%;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 70px;
  box-shadow: 20px 18px 16px rgba(0, 0, 0, 0.5);
  gap: 20px;
}

.bg-img-1 {
  background-image: url("../../assets/restaurant.png");
}
.bg-img-2 {
  background-image: url("../../assets/airbnb.png");
}
.bg-img-3 {
  background-image: url("../../assets/zomato.png");
}
.projects-box:hover {
  transform: scale(1.05);
}

/* Hide the gradient initially */
.projects-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(253, 111, 0, 1),
    rgba(0, 0, 0, 0.7)
  );
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Hide the content initially */
.projects-box h2,
.projects-box .icon {
  position: relative;
  z-index: 2;
  text-align: center;
  color: var(--third-color);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.projects-box h2 {
  font-size: 24px;
  margin: 0;
  font-weight: 600;
}

.icon {
  font-size: 30px;
  margin-top: 10px;
}
.page-link {
  color: var(--third-color);
  text-decoration: none;
}
.projects-box:hover::before,
.projects-box:hover h2,
.projects-box:hover .icon {
  opacity: 1;
}
