.container{
    display: flex;
}
.box-1{
    width: 250px;
    height: 300px;
    background-color: blueviolet;
    border: 5px solid #275dde;
    border-radius: 20px;
}
.box-2{
    width: 250px;
    background-color: blueviolet;
    border: 5px solid #275dde;
    border-radius: 20px;
}
.box-3{
    width: 250px;
    background-color: blueviolet;
    border: 5px solid #275dde;
    border-radius: 20px;
}