body {
    background-color: #4a4a90;
    font-family: 'Arial', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #262746; 
    padding: 20px;
    max-width: 600px;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
}

p.p-1 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

/* Form Styles */
.form-group, .form-group-1 {
    margin: 20px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    border: none;
    background-color: #f3f3f3;
    color: #333;
    box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
    accent-color: #00aaff;
}

input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218838;
}

/* Styling for radio buttons and checkboxes */
.form-group-1 p {
    margin-bottom: 10px;
    font-size: 16px;
}

textarea {
    font-size: 14px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    input[type="submit"] {
        padding: 12px;
    }
}
